# Variables de Configuración para el Despliegue en VPS
DEPLOY_SSH_HOST=datamaq.com.ar
DEPLOY_SSH_PORT=22
DEPLOY_SSH_USER=datamaq
DEPLOY_REMOTE_DIR=/var/www/www-datamaq
DEPLOY_SERVICE_NAME=datamaq.service
